{% extends "base.html" %}

{% block content %}

<button> <a href="{% url 'list_habits' %}"> Home </a> </button>

<h1>{{ habit.name }}</h1>
<div>
    <p> Habit target: {{ habit.target }} {{ habit.unit }}(s) {{ habit.frequency }} </p>
    <p> Habit created: {{ habit.created_at }} </p>
    <p> Habit started on: {{ habit.starts_on }} </p>
    <p> Habit will end on: {{ habit.ends_on }} </p>
</div>

<button> <a href="{% url 'edit_habit' habit.pk %}"> Edit Habit </a> </button>

<button> <a href="{% url 'delete_habit' habit.pk %}"> Delete Habit </a> </button>

<button> <a href="{% url 'add_date_record' habit.pk %}"> Add Date Record </a> </button>

{% for date_record in date_records %}
<div class="date_records">
    <h2> {{ date_record.date }} </h2>
    <p> Actual: {{ date_record.actual}} {{ habit.unit}}(s)  </p>
    <button> <a href="{% url 'edit_date_record' date_record.pk %}"> Edit Date Record</a> </button>
    <button> <a href="{% url 'delete_date_record' date_record.pk %}"> Delete Date Record</a> </button>
</div>
{% endfor %}

{% endblock %}
