{% extends "base.html" %}
{% block content %}

<button> <a href="{% url 'login' %}"> Login </a> </button>

<button> <a href="{% url 'logout' %}"> Logout </a> </button>

<button> <a href="{% url 'add_habit' %}"> Add Habit </a> </button>

{% for habit in habits %}
<div class="habit">
    <h2> <a href="{% url 'habit_details' habit.pk %}"> {{ habit.name }} </a> </h2>
    <button> <a href="{% url 'edit_habit' habit.pk %}"> Edit Habit </a> </button>
    <button> <a href="{% url 'delete_habit' habit.pk %}"> Delete Habit </a> </button>
</div>
{% endfor %}
{% endblock %}
